beautifultable==1.0.1
joblib==1.0.1
matplotlib==3.3.3
nltk==3.6.3
numpy==1.19.5
pandas==1.2.3
praw==7.5.0
scikit_learn==1.0.1
seaborn==0.11.2
termcolor==1.1.0
vaderSentiment==3.3.2
wordcloud==1.8.1
